<ul>
  <li><a href="https://example.com" title="this is my link">Website</a></li>
  <li><a href="mailto:m.bluth@example.com" class="myclass">Email</a></li>
  <li>
    <a href="tel:+123456789">Phone</a>
  </li>
</ul>