<div class="satao-info">

<div class="satao-danger">
&lt;?php

require_once SESTO_DIR . &#039;/xml/simple.php&#039;;

$xml = new sesto_xml_simple(&#039;&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;root&gt;&lt;/root&gt;&#039;);
$xml-&gt;addChild(&#039;title&#039;)-&gt;add_cdata(&#039;https://naranza.org&#039;);
echo $xml-&gt;asXML();

</div>
</div>