<div class="satao-danger">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<pre class="test-mymacro">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</pre>