<div class="satao-info">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-success">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-warning">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-danger">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-note">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-tip">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>
<div class="satao-important">
This is a line in a paragraph.
This is another line in a paragraph.
This is another line in a paragraph.
</div>