<h1>Dictionary</h1>

<p>
Dictionary is the most important part of Fongo.
It contains the description, of one or more fields as indexed array.
The index is the field name and the value is the description.
Let's see an example.</p>

<pre>
<code class="language-php">&lt?php

$config = [
  'first_name' => [
    'required' => true,
    'rule' => ['not_empty_string'],
  ],
  'middle_name' => [
    'required' => false,
    'rule' => ['not_empty_string'],
  ]
];
</code></pre>