<p>
  This the first line of the new paragraph.
  This when a < 10 and b > 30.
  This is a escape .b bold text< whereas <b>this is a bold</b> and this is escaped #macro text.
  This should not be \escaped.
</p>