<ul>
  <li>define system and application constants. See <a href="setup">sesto_app_setup</a></li>
  <li>load and parse 'SESTO_SYS_DIR/conf/config.php' if exists.
    <ul>
      <li>sesto_config_parse_php_ini_set()</li>
      <li>sesto_config_parse_require()</li>
      <li>sesto_config_parse_env()</li>
      <li>sesto_config_parse_resource()</li>
      <li>eventually, set PHP error handler to sesto_error_handler()</li>
      <li>eventually, set the sesto_app_call error handler</li>
    </ul>
  </li>
  <li>set the sesto_app_call error handler to sesto_app_error_handler_cli or sesto_app_error_handler_web</li>
  <li>call sesto_app_call()</li>
</ul>