<h1>Copyright</h1>

<p>
  Copyright &copy; 2023.
  This material may be distributed only subject to the terms and conditions set
  forth in the Creative Commons Attribution 4.0 International (CC BY 4.0) or later.
  A copy of the license is available at
  <a href=https://creativecommons.org/licenses/by/4.0/ target="_blank">https://creativecommons.org/licenses/by/4.0/</a>.
</p>
